In [1]:
import pandas as pd

In [3]:
graph = pd.read_csv("graph_data.csv")

In [4]:
graph

   product  profit  loss
0       12      10    34
1       23      20    76
2       34      30    42
3       45      35    98
4       56      70    45
5       67      34    90

In [5]:
graph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   product  6 non-null      int64
 1   profit   6 non-null      int64
 2   loss     6 non-null      int64
dtypes: int64(3)
memory usage: 276.0 bytes

In [6]:
graph.tail()

   product  profit  loss
1       23      20    76
2       34      30    42
3       45      35    98
4       56      70    45
5       67      34    90

In [8]:
graph.shape

(6, 3)

In [9]:
print(graph.columns)

Index(['product', 'profit', 'loss'], dtype='object')

In [13]:
graph[-2:]

   product  profit  loss
4       56      70    45
5       67      34    90

last two display

In [18]:
graph[2:5]

   product  profit  loss
2       34      30    42
3       45      35    98
4       56      70    45