In [1]:
import pandas as pd

In [2]:
company = pd.read_csv("company_data.csv", usecols=['TV','Radio'])
company

        TV  Radio
0    230.1   37.8
1     44.5   39.3
2     17.2   45.9
3    151.5   41.3
4    180.8   10.8
..     ...    ...
195   38.2    3.7
196   94.2    4.9
197  177.0    9.3
198  283.6   42.0
199  232.1    8.6

[200 rows x 2 columns]

In [3]:
company.describe()

               TV       Radio
count  200.000000  200.000000
mean   147.042500   23.264000
std     85.854236   14.846809
min      0.700000    0.000000
25%     74.375000    9.975000
50%    149.750000   22.900000
75%    218.825000   36.525000
max    296.400000   49.600000

In [4]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TV      200 non-null    float64
 1   Radio   200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

In [5]:
company.head(10)

      TV  Radio
0  230.1   37.8
1   44.5   39.3
2   17.2   45.9
3  151.5   41.3
4  180.8   10.8
5    8.7   48.9
6   57.5   32.8
7  120.2   19.6
8    8.6    2.1
9  199.8    2.6

In [6]:
company.tail()

        TV  Radio
195   38.2    3.7
196   94.2    4.9
197  177.0    9.3
198  283.6   42.0
199  232.1    8.6

In [7]:
company.shape

(200, 2)

In [8]:
print(company.columns)

Index(['TV', 'Radio'], dtype='object')